<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | Jose Estrada</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/nadiemedicejose.appspot.com/o/public%2Ffavicon.ico?alt=media&token=a012f204-ab46-4c68-aada-0213740422e0" type="image/x-icon"/>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://nadiemedicejose.web.app/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://nadiemedicejose.web.app">Jose Estrada</a> &copy; 2021</p>
    </footer>
  </body>
</html>
